{% extends 'layout.html' %}

{% block head %} 
{% endblock%}

{% block body %}
    <h1>Sign In</h1>
    <form method="GET" action="/submit">
        <label for="usernameText">Username</label>
        <input type="text" placeholder="Username" name="usernameText"/>
      
        <label for="usernameText">Password</label>
        <input type="text" placeholder="Password" name="passwordText"/>
        <input type="submit" value="Login" name="submitBtn"/>
    </form>

    {% if message|length > 0 %}
        {{ message }}
    {% endif %}
{% endblock %}